pandas
numpy
rasterio
geomet
sshtunnel
geoalchemy2
geojson
# quick fix to avoid: AttributeError: module 'paramiko' has no attribute 'DSSKey'. Did you mean: 'RSAKey'?
paramiko==2.11.0

# we need psycopg2, so we can either pip-install
# psycopg2 or psycopg2-binary. The latter is recommended
# for development and testing, the former for production.
psycopg2-binary

